
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

.landing-page{
    background: radial-gradient(50% 50% at 50% 50%, #181743 0%, #340C64 100%);
    margin-right: 0px;
    /* height: 300px; */
}

.rocket-image{
         
     height: 30vw;
}
.four-images{
    height: 13vw;
}


.coloumn_our{
    margin: 0px;
}
.row{
    margin-right: 0px;
}
.font_style_1{
    text-align: left;
    padding-top: 5%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 10vw;
line-height: 10vw;
/* or 91% */


color: #FFFFFF;

text-shadow: 0px 4px 4px #FFFFFF, 0px 4px 4px rgba(254, 253, 253, 0.25);
}
.font_style_2{
    color: white;
    font-family: 'poppins';
    font-style: normal;
    text-align: left;
    font-size: 2vw;
}
.ideas_first_line{
        margin-bottom: 0PX;
    margin-top: 10%;
}
#start_button{
    margin-top: 3%;
    float: left;
    background-color: #13EEAC;
    padding-right: 5%;
    padding-left: 5%;
}

.startup{
    padding-right: 35%;
}

@media only screen and (max-width: 500px) {
 .rocket-image{
     width: 100%;
     max-width: 300px;
     height: auto;     
     
}
.four-images {
    height: 22vw;
    margin: 10%;
}
}